body.page-node-type-basic-page-full-width  { padding-top: 50px; background-color: #A12237;
    div.main-container { background-color: white; box-shadow: 5px 5px $shadowBlurRadius $shadowColor, -5px 5px $shadowBlurRadius $shadowColor; }
    #footer-wrapper div.container { background-color: white; box-shadow: 5px 5px $shadowBlurRadius $shadowColor, -5px 5px $shadowBlurRadius $shadowColor; }
    header.navbar { opacity: 1; }
}