$colorOrange: #0366d7;
$colorLinkOrange: $colorOrange;
$colorBlue: #008080;
$colorAlert: #0de4cf;
$colorLink: $colorOrange;
$colorBorder: $colorBlue;
$colorSpecialInstructionsBackground: #ededed;
$colorGridBackground: $colorSpecialInstructionsBackground;
$colorDontForget: #BFE8FD;

$fontWeightRegular: 400;
$fontWeightBold: 600;
$fontWeightExtraBold: 700;
$fontWeightExtraExtraBold: 900;

$shadowBlurRadius: 5px;
$shadowColor: rgba(63, 12,  21, 0.7); 

